/* light mode */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}


/* dark mode */
body.dark-mode {
    background-color:#18191A;
    color: #ffffff;
}

body.dark-mode .card-text {
    color: black;
}

body.dark {
    background-color: black;
    color: white;
}

body.dark .card-reader {
    background-color: black;
    color: white;
}

body.dark .card-text {
    color: black;
}

.dark-mode-card {
    background-color: #18191A;
    color: white;
}

.white-text {
    color:white;
}

#dark-mode-toggle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#searchBar {
    width: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card-container {
    display: none;
}