/* light mode */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}


/* dark mode */
body.dark-mode {
    background-color:#18191A;
    color: #ffffff;
}

body.dark-mode .card-text {
    color: black;
}

body.dark {
    background-color: black;
    color: white;
}

body.dark .card-reader {
    background-color: black;
    color: white;
}

body.dark .card-text {
    color: black;
}